/***WHOLE SITE***/
.main-container{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap:1.25rem;
	margin: 0 10%;
}

/**PROJECTS IN LANDING***/


/*Media Queries=========================================================================================================*/

@media screen and (min-width:106em){

	.main-wrapper{
		margin: 0 20%;
	}

	.text-wrapper{
		margin:  0 30% 0 30%;
	}

	.main-nav-container{
		margin:  0 10% 0 10%;
	}

	.about-container{
		grid-template-columns: repeat(4, 1fr);
	}

	.about{
		grid-column: 3;
	}
	.about-container>img{
		grid-column:2;
	}


}

/*Inbetween(1200px)*/
@media screen and (max-width:70em){
	.photo-info{
		display: flex;
		flex-direction: column;
	}

}

/*Inbetween(1068px)*/
@media screen and (max-width:67em){
	.landing-info{
		flex-direction: column;
	}

	.landing-info>h1{
		text-align: center;
	}
	.landing-more-info{
		text-align: center;
	}
	.about-container{
		grid-template-columns: 1fr;
	}

	.about-container>img{
		grid-column: 1;
	}

	.about{
		grid-column: 1;
	}

	.more-info-list>h5{
		text-align: center;
	}
}

/*Inbetween(645px)*/
@media screen and (max-width:41em){
	.more-info-list{
		flex-direction: column;
	}

	.main-container{
		margin: 0 5%;
	}

	.text-wrapper{
		margin: 0 5%;
	}

	.footer{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-left-item>h6{
		margin: 20px 0 20px 0;
	}

	.footer-right-item>h6{
		margin: 20px 0 20px 0;
	}

	.back-to-top>h6{
		margin: 20px 0 20px 0;
	}

	.about{  
    	text-align: center;
	}

	h1{
		font-size: 3rem;
	}

	h2{
		font-size: 1.25rem;
	}

	h3{
		font-size: 2rem;
	}

	.main-nav-items>h5{
		font-size: 1rem;
	}

}