.main-container{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, auto);
	grid-gap:1.5rem;
	/*background-color:#F4F0EC;*/
}

/*MEDIA QUERIES================*/
/*800 px===================*/
@media screen and (max-width:50em){
	/* Landing*/
	.landing-info{
		grid-column:2/12;
		padding-top:6rem;
	}

	.down-arrow{
		margin-top:6rem;
	}

	/*Work Pages*/
	.main-graphic{
		grid-column:2/12;
	}

	.project-info{
		grid-column:2/12;
	}

	.project-detail{
		grid-column:2/12;
	}
}

/*576 px===================*/
@media screen and (max-width:36em){
	/*Landing Page*/
	.down-arrow{
		margin-top:3rem;
	}
	/* Works Section*/
	#works-section{
		grid-template-columns:1fr;
		grid-template-rows:auto auto;
	}

	.project-preview-container{
		grid-column:1;
	}
}

/*482 px===================*/
@media screen and (max-width:31em){
	/*Landing Page*/
	.down-arrow{
		margin-top:1rem;
	}

	.landing-info{
		padding-top:3rem;
	}
}

/*420 px===================*/
@media screen and (max-width:27em){
	/*Landing Page*/
	.down-arrow{
		margin-top:1rem;
	}

	.landing-info{
		padding-top:3rem;
	}

	.about-container{
		grid-template-columns: 1fr;
	}

	.about-container img{
		grid-column:2/12;
	}

	.about-info{
		padding-left:0;
		padding-top:2rem;
		grid-column: 2/12;
	}

	.nav-links-right{
		padding-right:1rem;
	}

	.nav-link-left{
		padding-left:1rem;
	}

	.nav-links-right a{
		margin-left:1rem;
	}

	/*Project Pages*/
	.project-info{
		grid-template-columns: 1fr;
	}
}

/*350 px===================*/
@media screen and (max-width:22em){
	/*Landing Page*/
	nav a{
		font-size:1rem;
	}

	.landing-info h2{
		font-size:1.5rem;
	}


	footer p{
		font-size:0.5rem;
	}
}