/*GLOBAL===================*/
*{
	box-sizing: border-box;
}

body{
	margin:0;
}

html{
	scroll-behavior: smooth;
}

img{
	width:100%;
	height:auto;
}

video{
	width:100%;
	height:auto;
}

.video-mobile{
	width:50%;
}

/***TYPOGRAPHY***/
h1{
	font-family: 'Manrope', sans-serif;
	font-size:4rem;
	font-weight: 400;
}

h2{
	font-family: 'Manrope', sans-serif;
	font-size: 2.2rem;
	font-weight: 500;
	/*text-align: center;*/
}

h3{
	font-family: 'Manrope', sans-serif;
	font-size:2.2rem;
	font-weight: 400;
}

h4{
	font-family: 'Manrope', sans-serif;
	font-size:1.5rem;
	font-weight: 500;
}

h5{
	font-family: 'Manrope', sans-serif;
	font-size:1.125rem;
	font-weight: 400;
}

h6{
	font-family: "ubuntu mono", monospace;
    font-weight: 400;
    font-size: 1rem;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #967FF4;
}

p, li{
	font-family: 'Manrope', sans-serif;
	font-size:1rem;
	max-width:80ch;
}

/***COLOUR***/
.purple{
	color:#967FF4;
}

em{
	color: #967FF4;
	font-weight: 600;
}

/***BACK TO TOP BUTTON***/
#topButton{
	cursor: pointer;
}

.back-to-top{
	grid-column: 1/span 12;
	justify-self: center;
}

#topButton:hover{
	color: #967FF4;
}

/***TOP NAV***/

.main-nav-items{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav-container{
	margin: 0 5% 0 5%;
	border-bottom:1px solid rgba(0,0,0,.3);
}

/***LANDING***/
.landing{
	grid-column: 1/span 12;
	margin-top: 15%;
	border-bottom:1px solid rgba(0,0,0,.3);
}

.landing-info{
	border-top:1px solid rgba(0,0,0,.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.landing-more-info{
	font-size: 1.25rem;
	max-width:40ch;
	text-align: right;
	display: flex;
	flex-direction: column;
}

.landing-more-info>h6{
	margin: 2% 0 2% 0;
}

/***ACCORDION***/
.accordion{
	cursor: pointer;
	width: 100%;
	background-color: white;
	outline: none;
	border: none;
	font-size: 1rem;
	margin-bottom: 2%;
	transition: 0.4s;
}

.accordion:after{
  content: '\002B';
  color: #967FF4;
  font-weight: bold;
  margin-left: 5px;
}

.active:after{
	content: "\2212";
}

.panel{
	background-color: white;
	max-height: 0;
  	overflow: hidden;
 	transition: max-height 0.2s ease-out;
}

.about-container{
	border-top:1px solid rgba(0,0,0,.3);
	padding-top: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.25rem;
}

.about-container>img{
	grid-column: 1;
}

.about{
	grid-column: 2/ span 3;
	text-align: right;
}

.expanded-headings>p{
	font-size: 1rem;
	font-weight: 700;
	margin: 2% 0 0 0;
}

.more-info-list{
	border-top:1px solid rgba(0,0,0,.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom:1px solid rgba(0,0,0,.3);
}

.more-info-list>h5{
	margin: 2% 0 2% 0;
}

/**PROJECTS***/

.projects-section{
	grid-column: 1/span 12;
}

.project{
	margin-top: 15%;
	display: flex;
	flex-direction: column;
}

.photo-info{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1.25rem;
}

.project-photo{
	grid-column: 1/span 7;
}

.project-description{
	grid-column: 8/span 12;
	display: flex;
	flex-direction: column;
}

.project-description>h3{
	margin-bottom: 0;
}

.project-description>a{
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 1rem;
	border-bottom:1px solid rgb(120, 65, 238);
}

.project-more-info{
	grid-row: 2;
	border-bottom:1px solid rgba(0,0,0,.3);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.project-type{
	justify-self: left;
}

.experience-type{
	justify-self: center;
}

.project-duration{
	justify-self: right;
}

.project-more-info>h6{
	margin-bottom: 2%;
}

/***FOOTER***/
footer{
	grid-column: 1/span 12;
}

.footer{
	border-top:1px solid rgba(0,0,0,.3); /*this is the divider*/
	display: flex;
	justify-content: space-between;
	margin: 0 10% 2% 10%;
}

/*====================PROJECT PAGES =========================*/
.prototype {
    position: absolute;
    width: 95%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

/*======JUST FOR CAFFE MIRA========*/
.prototype-mira{
	position: absolute;
    width: 95%;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.mockup-wrapper{
	position: relative;
}

.projects-section>h2{
	text-align: center;
	border-top:1px solid rgba(0,0,0,.3);
	border-bottom:1px solid rgba(0,0,0,.3);
	margin: 10% 0 10% 0;
}

.projects-section>h4{
	text-align: center;
	border-bottom:1px solid rgba(0,0,0,.3);
	margin-bottom: 0;
}

.text-wrapper>h6{
	text-align: center;
	border-bottom:1px solid rgba(0,0,0,.3);
	margin-bottom: 0;
	font-weight: 600;
}

.text-wrapper{
	margin: 0 15% 0 15%;
}

.text-wrapper>p{
	margin-top: 2%;
}

.three-photos{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 5% 0;
}

.two-photos{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 5% 0;
}

.outline-photo>img{
	border: 0.5px solid rgba(0,0,0,.3);
}

/*=============VENTURA FUTURE================*/
.friedman-works{
	display: flex;
}

.friedman1{
	flex: 1.01426307;
}

.friedman2{
	flex: 1.55223881;
}

