/*====================GLOBAL========================*/

*{
	box-sizing: border-box;
}

body{
	margin:0;
	background-color: black;
}
header{
	background-color: white;
}

html{
	scroll-behavior: smooth;
}

img{
	width:100%;
	height:auto;
}

video{
	width:100%;
	height:auto;
}

.not-ready{
	display: none;
}

/*====================FREQUENTLY USED=========================*/
.full-span{
	grid-column: 1/span 12;
}

.margin-zero{
	margin:0;
}

.bottom-margin-zero{
	margin-bottom: 0
}

.gap{
	gap:1.5625rem;
}

.extra-padding{
	padding-bottom: 5%;
}

.flex{
	display:flex;
}

.two-grid{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.5625rem;
}

.column-one{
	grid-column: 1;
}

.column-two{
	grid-column: 2;
}

/*====================ICONS AND BUTTONS=========================*/
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.arrow-to-projects{
	margin: 10% 0 10% 0;
	display:flex;
	justify-content: center;
}

.button{
	border: 0.8px solid white;
	font-family: 'Lato', sans-serif;
	font-size:0.8rem;
	font-weight: 500;
	color:white;
	padding: 1rem;
	width:150px;
	text-align: center;
}

/*====================TYPOGRAPHY=========================*/
h1{
	font-family: 'Libre Franklin', sans-serif;
	font-size:2rem;
	font-weight: 400;
	color:white;
	max-width:80ch;
}

h2{
	font-family: 'Libre Franklin', sans-serif;
	font-size:1.25rem;
	font-weight: 400;
	color:white;
	max-width:45ch;
}

h3{
	font-family: 'Lato', sans-serif;
	font-size:0.8rem;
	font-weight: 500;
	color:white;
	max-width:50ch;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: underline white;
	text-decoration-thickness: 0.8px;
}

p, li{
	font-family: 'Lato', sans-serif;
	font-size:0.8rem;
	font-weight:400;
	max-width:80ch;
	color:white;
}

em{
	text-decoration: underline white;
}

/*====================COLOUR AND DECO=========================*/
.black{
	color:black;
}

.underline{
	text-decoration: underline white;
	font-weight: 400;
	text-decoration-thickness: 0.8px;
}

.highlight{
	background-color: #282828;
	font-weight: 400;
}

/***BACK TO TOP BUTTON***/
#topButton{
	cursor: pointer;
}

.back-to-top{
	grid-column: 1/span 12;
	justify-self: center;
}

#topButton:hover{
	text-decoration:underline white;
}

/*====================TOP NAV=========================*/

.main-nav-container{
	margin: 0 5% 0 5%;
	padding: 10px 0 10px 0;
	display: flex;
	justify-content: space-between;
}

.right-nav-items{
	display: flex;
	gap:25px;
}

.landing{
	margin-bottom:10%;
}

/*====================PROJECT NAV=========================*/
.project-navigation{
	margin-top:10%;
	margin-bottom:10%;
}

.project-nav-rows{
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap:1.5625rem;
	border-bottom:0.8px solid white;
}

.column-1{
	grid-column: 1;
}

.column-2{
	grid-column: 2/span 5;
}

.column-3{
	grid-column: 7/span 12;
}

/*====================PROJECT SECTION=========================*/

#projects{
	grid-column: 1/span 12;
}

.project{
	border-top:0.8px solid white;
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap:1.5625rem;
}

.project-info{
	display:flex;
	flex-direction: column;
}


/*====================FOOTER=========================*/
.footer{
	border-top:0.8px solid white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}

.footer-left-item{
	justify-self: left;
	grid-column: 1;
	margin-top:2rem;
}

.back-to-top{
	justify-self: center;
	grid-column: 2;
	margin-top:2rem;
}

.footer-right-item{
	justify-self: right;
	grid-column: 3;
	margin-top:2rem;
}

/*====================ABOUT PAGE=========================*/
.about-section{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:1.5625rem;
	border-top:0.8px solid white;
}

.information{
	grid-column: 1/span 2;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	gap:1.5625rem;
}

.top-row{
	display:flex;
	flex-direction: row;
	gap:1.5625rem;
}

.about-section>img{
	grid-column: 3;
}

.experience{
	grid-column:1/span 2;
}

.links{
	grid-column:1/span 2;
	display:flex;
	gap:1.5625rem;
}

/*====================PLAYGROUND=========================*/
.about-playground{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:1.5625rem;
	border-top:0.8px solid white;
}

.playground-about{
	grid-column: 1/span 3;
}
.project-photos-1{
	grid-column: 1;
}

.project-photos-2{
	grid-column: 2;
}

.project-photos-3{
	grid-column: 3;
}

/*====================ACCORDIONS=========================*/
.accordion{
	cursor: pointer;
	width: 100%;
	background-color: black;
	outline: none;
	border: none;
	padding: 2% 0;
	transition: 0.4s;
	font-family: 'Libre Franklin', sans-serif;
	font-size:1.25rem;
	font-weight: 400;
	color:white;
	border-top:0.8px solid white;
	display: flex;
	justify-content: space-between;

}

.accordion:after{
  content: '\002B';
  color: white;
  font-weight: bold;
  margin-left: 2px;
}

.active:after{
	content: "\2212";
}

.panel{
	padding:0 20%;
	background-color: black;
	max-height: 0;
  	overflow: hidden;
 	transition: max-height 0.2s ease-out;
 	border-bottom:0.8px solid white;
}

/*====================PROJECT PAGES =========================*/
.project-background{
	border-top:0.8px solid white;
	border-bottom:0.8px solid white;
	display:flex;
	flex-direction: row;
	gap:1.5625rem;
}

.quote{
	border-left:2px solid white;
	margin:30px 20px;
}

.quote1{
	padding-left:1.5625rem;
}

.project-sections{
	margin-top:5%;
	border-top:0.8px solid white;
}

